:root {
    --notecolor: #b66700;
    --noteholdcolor: linear-gradient(to bottom, #ffab02, #dc7e02, #ffab02);
    --lanecolor: linear-gradient(to right, #ffad5b, #ffa034);
    --laneborder: #000000;
    --notegood: #d27802;
    --notegreat: #f58b00;
    --noteperfect: linear-gradient(to right, #e100ff, #b708ba);
    --noteborder: linear-gradient(#bf57e5, #8f31b1);
    --pulsestart: black;
    --pulsemid: white;
    --lanegradientstart: linear-gradient(to bottom, var(--pulsestart), var(--pulsestart), var(--pulsestart), var(--pulsemid), var(--pulsestart), var(--pulsestart), var(--pulsestart));
    --lanegradientstep1: linear-gradient(to bottom, var(--pulsestart), var(--pulsestart), var(--pulsestart), var(--pulsemid), var(--pulsemid), var(--pulsestart), var(--pulsestart), var(--pulsestart));
    --lanegradientstep2: linear-gradient(to bottom, var(--pulsestart), var(--pulsestart), var(--pulsestart), var(--pulsemid), var(--pulsemid), var(--pulsemid), var(--pulsestart), var(--pulsestart), var(--pulsestart));
    --lanegradientstep3: linear-gradient(to bottom, var(--pulsestart), var(--pulsestart), var(--pulsestart), var(--pulsemid), var(--pulsemid), var(--pulsemid), var(--pulsemid), var(--pulsestart), var(--pulsestart), var(--pulsestart));
    --lanegradientstep4: linear-gradient(to bottom, var(--pulsestart), var(--pulsestart), var(--pulsestart), var(--pulsemid), var(--pulsemid), var(--pulsemid), var(--pulsemid), var(--pulsemid), var(--pulsestart), var(--pulsestart), var(--pulsestart));
    --lanegradientend: linear-gradient(to bottom, var(--pulsestart), var(--pulsestart), var(--pulsestart), var(--pulsemid), var(--pulsemid), var(--pulsemid), var(--pulsemid), var(--pulsemid), var(--pulsemid), var(--pulsemid), var(--pulsestart), var(--pulsestart), var(--pulsestart));
}
@keyframes lane-glow {
    0% {background-image: var(--lanegradientstart);}
    2% {background-image: var(--lanegradientstep1);}
    5% {background-image: var(--lanegradientstep2);}
    8% {background-image: var(--lanegradientstep3);}
    10% {background-image: var(--lanegradientstep4);}
    13% {background-image: var(--lanegradientend);}
    15% {background-image: var(--lanegradientstep4);}
    18% {background-image: var(--lanegradientstep3);}
    20% {background-image: var(--lanegradientstep2);}
    23% {background-image: var(--lanegradientstep1);}
    25% {background-image: var(--lanegradientstart);}
    100% {background-image: var(--lanegradientstart);}
}
@keyframes beat-glow {
    0% {background-image: var(--lanegradientend);}
    10% {background-image: var(--lanegradientstep4);}
    25% {background-image: var(--lanegradientstep3);}
    40% {background-image: var(--lanegradientstep2);}
    60% {background-image: var(--lanegradientstep1);}
    100% {background-image: var(--lanegradientstart);}
}
@keyframes hold-stretch {
    0% {transform: scaleY(1.2);}
    60% {transform: scaleY(1.1);}
    100% {transform: scaleY(1);}
}
body {
    overflow: hidden;
    margin: 0;
    background-color: black;
    color: white;
    font-family: "Special Gothic Expanded One", sans-serif;
}
button {
    font-family: "Special Gothic Expanded One", sans-serif;
    font-size: 11px;
}
input {
    font-family: "Special Gothic Expanded One", sans-serif;
    font-size: 12px;
    height: 4vh;
}
#objectstorer {
    position: absolute;
    top: -1500px;
    left: -1500px;
}
#totalscoretrack {
    top: 0.25vh;
    left: 0.25vw;
    font-size: 4vh;
    position: absolute;
    font-family: "Bungee Spice", sans-serif;
}
#totalcombotrack {
    top: 0.25vh;
    right: 0.25vw;
    font-size: 4vh;
    position: absolute;
    font-family: "Bungee Spice", sans-serif;
}
#greyscore {
    font-family: "Bungee Outline", sans-serif;
}
#musicplayerinput {
    top: 14vh;
    left: 0.5vw;
    position: absolute;
}
#songplayerdatainput {
    position: absolute;
    top: 9vh;
    left: 72vw;
}
.noteobject {
    width: 3vh;
    height: 12vh;
    border-radius: 1.5vh;
    /* background-color: var(--notecolor); */
    fill: var(--notecolor);
    /* stroke: var(--notecolor);
    stroke-width: 1;
    stroke-linejoin: round; */
    position: absolute;
    z-index: 2;
}
.notelongobject {
    height: 6vh;
    background-image: var(--noteholdcolor);
    position: absolute;
    top: 3vh;
    left: 1vh;
    z-index: -1;
}
.notelongheld {
    opacity: 0.7;
}
.ghostnoteobject {
    opacity: 0.5;
    position: absolute;
    z-index: -5;
}
.notelongghostobject {
    height: 6vh;
    background-image: var(--noteholdcolor);
    position: relative;
    left: 1vh;
    z-index: -1;
    top: 3vh;
}
.polylineghostobject {
    position: relative;
    top: -6vh;
    fill: var(--notecolor);
}
.polylineobject {
    position: absolute;
    top: 0;
}
.holdnoteboost {
    animation: hold-stretch 0.15s forwards;
}
.laneobject {
    width: 100vw;
    height: 12vh;
    background-image: var(--lanecolor);
    border: 1px solid var(--laneborder);
    z-index: -10;
}
.lanebeat {
    animation: infinite lane-glow 4s;
}
.lanebeatdrop {
    animation: forwards beat-glow 0.5s;
}
.timeobject {
    width: 1px;
    background-color: black;
    height: 48vh;
    /* border: 1px solid black; */
}
.beatdropobject {
    width: 1px;
    background-color: rgb(255, 0, 0);
    height: 48vh;
    /* border: 1px solid black; */
}
.beatdropobjecttop {
    width: 25px;
    height: 2vh;
    background-color: rgb(255, 0, 0);
    position: relative;
    /* top: -48vh; */
}
.timeobjectfin {
    position: absolute;
}
.beatdropobjectfin {
    position: absolute;
}
.beatdropreached {
    opacity: 0;
}
.indicobject {
    width: 26px;
    height: 12vh;
    line-height: 12vh;
    background-color: rgb(192, 72, 192);
    border: 1px solid #abcdef;
    text-align: center;
    color: white;
    font-size: 13px;
}
.musicplayerplay {
    position: absolute;
    top: 9vh;
    left: .5vw;
    width: 6vw;
    height: 4vh;
}
.musicplayerpause {
    position: absolute;
    top: 9vh;
    left: 7vw;
    width: 6vw;
    height: 4vh;
}
.musicplayerseek5 {
    position: absolute;
    top: 9vh;
    left: 13.5vw;
    width: 6vw;
    height: 4vh;
}
.musicplayerseek1 {
    position: absolute;
    top: 9vh;
    left: 20vw;
    width: 6vw;
    height: 4vh;
}
.musicplayertrack1 {
    position: absolute;
    top: 9vh;
    left: 26.5vw;
    width: 6vw;
    height: 4vh;
}
.musicplayertrack5 {
    position: absolute;
    top: 9vh;
    left: 33vw;
    width: 6vw;
    height: 4vh;
}
.musicplayerexport {
    position: absolute;
    top: 9vh;
    left: 39.5vw;
    width: 6vw;
    height: 4vh;
}
.musicplayerundo {
    position: absolute;
    top: 9vh;
    left: 46vw;
    width: 6vw;
    height: 4vh;
}
.musicplayergrid {
    position: absolute;
    top: 9vh;
    left: 52.5vw;
    width: 6vw;
    height: 4vh;
}
.musicplayergridchange {
    position: absolute;
    top: 9vh;
    left: 59vw;
    width: 6vw;
    height: 4vh;
}
.musicplayerimport {
    position: absolute;
    top: 9vh;
    left: 65.5vw;
    width: 6vw;
    height: 4vh;
    /* background-color: #fff3c6; */
}
#musicplayertime {
    position: absolute;
    text-align: center;
    top: 5vh;
    height: 3vh;
    width: 30vw;
    left: 35vw;
}
.currentTimeSlider {
    -webkit-appearance: none;
    appearance: none;
    width: 100vw;
    height: 3vh;
    background-image: var(--lanecolor);
    outline: none;
    margin: 0;
    position: absolute;
    top: 5vh;
    left: 0;
    z-index: -1;
}
.currentTimeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 3vh;
    aspect-ratio: 1/1;
    background-color: var(--notecolor);
    padding: 0;
    width: 3vh;
}
.currentTimeSlider::-moz-range-thumb {
    height: 3vh;
    aspect-ratio: 1/1;
    background-color: var(--notecolor);
}
.lane1 {
    position: absolute;
    top: 20vh;
    left: 0;
}
.lane2 {
    position: absolute;
    top: 32vh;
    left: 0;
}
.lane3 {
    position: absolute;
    top: 44vh;
    left: 0;
}
.lane4 {
    position: absolute;
    top: 56vh;
    left: 0;
}
#indic1 {
    position: absolute;
    top: 20vh;
    left: 80px;
}
#indic2 {
    position: absolute;
    top: 32vh;
    left: 80px;
}
#indic3 {
    position: absolute;
    top: 44vh;
    left: 80px;
}
#indic4 {
    position: absolute;
    top: 56vh;
    left: 80px;
}
.indicactive {
    background-color: yellow;
}
.noteobjectactive {
    /* background-color: var(--notegood); */
    fill: var(--notegood);
}
.noteobjectsuper {
    /* background-color: var(--notegreat); */
    fill: var(--notegreat);
}
.noteobjectperfect {
    /* background-image: var(--noteperfect); */
    fill: var(--noteperfect);
}
.noteobjecthit svg .notepolygon {
    opacity: 0;
    background-color: white;
}
.noteobjecthit .polylineobject .notepolygon {
    opacity: 1;
}
.noteobjecthit .polylineobject .notepolygon.notepolygonended {
    opacity: 0 !important;
}
.noteobjectselected {
    background-color: yellowgreen;
}
/* .rightclickmenu {

} */
.contextitem {
    position: relative;
    width: 30px;
    height: 30px;
    text-align: center;
    color: black;
}
.context1 {
    left: 0px;
    background-color: rgb(213, 213, 213);
    border-radius: 5px;
}
.context2 {
    left: 30px;
    top: -30px;
    border-radius: 5px;
}
.context3 {
    left: 60px;
    top: -60px;
    background-color: rgb(213, 213, 213);
    border-radius: 5px;
}
.context4 {
    left: 90px;
    top: -90px;
    border-radius: 5px;
}
.exportmaintext {
    position: absolute;
    overflow-y: scroll;
    overflow-x: wrap;
    word-break: break-all;
    height: 25vh;
    width: 50vw;
    left: 2vw;
    bottom: 1vh;
}
.songdataobject {
    position: absolute;
    top: -1000px;
    left: -1000px;
}
#notetimingindic {
    position: absolute;
    width: 300px;
    height: 100px;
    bottom: 30px;
    right: 50px;
    /* background-color: rgb(59, 59, 59); */
}
#notetimingindicimg {
    height: 100%;
    width: 100%;
    
}

/* https://stackoverflow.com/a/32919644 */
#musicplayerinput::-webkit-file-upload-button {
    visibility: hidden;
}
#musicplayerinput::before {
    content: 'Music Select';
    display: inline-block;
    background: black;
    /* border: 1px solid #999; */
    border-radius: 3px;
    /* padding: 5px 8px; */
    outline: none;
    white-space: nowrap;
    /* -webkit-user-select: none; */
    cursor: pointer;
    /* text-shadow: 1px 1px #fff; */
    height: 20px;
    font-weight: 700;
    font-size: 10pt;
    font-family: "Special Gothic Expanded One", sans-serif;
}
#songplayerdatainput::-webkit-file-upload-button {
    visibility: hidden;
}
#songplayerdatainput::before {
    /* color: black; */
    content: 'Save Select';
    display: inline-block;
    /* background: black; */
    /* border: 1px solid #999; */
    border-radius: 3px;
    /* padding: 5px 8px; */
    outline: none;
    white-space: nowrap;
    /* -webkit-user-select: none; */
    cursor: pointer;
    /* text-shadow: 1px 1px #fff; */
    height: 20px;
    font-weight: 700;
    font-size: 10pt;
    font-family: "Special Gothic Expanded One", sans-serif;
}
